section(id="footer" class="container")
        div(id="upper-footer")
          div
          div
          span
          span
        div(id="lower-footer")
        div
          p copyright pragmatech 2024