section(id="" class="container")
        div 
          span Nolly 
          span Passion 
        nav(id="nav") 
          a(class="nav-item" href="/") Home 
          a(class="nav-item" href="/about") About
          a(class="nav-item" href="/contact") Contact
        div(id="")
          a(class="nav-item" href="/login") Login
          a(class="nav-item" href="/signup") Sign Up