extends layout


block main-content
  section
    div(id="hero")
      div(id="hero-image-container")
        img(src="images/hero-image.png" alt="hero" id="hero-image" width=400 height=250)
      div(class="container" id="hero-text")
        h1= title
        p Welcome to #{title}! This is a platform for you to, in the form of blogging, express your passion for Nigerian movies. 
        p Moreover, you can do more than writing about the movies, you can search for movies according to your interest and passions.

