doctype html
html(ang="en")
  head
    title= title
    meta(charset="UTF-8")
    meta(meta name="viewport" content="width=device-width, initial-scale=1.0" )
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      block header-content
    main
      block main-content
    footer
      block footer-content
